<h1>Gestionar Usuarios</h1>

{{#if successMessage}}
  <p style="color:green;">{{successMessage}}</p>
{{/if}}
{{#if errorMessage}}
  <p style="color:red;">{{errorMessage}}</p>
{{/if}}

<!-- Botón para eliminar usuarios sin actividad -->
<form action="/api/users/delete-inactive" method="POST" style="margin-bottom: 20px;">
  <button type="submit" style="background-color:red;color:white;padding:10px 20px;border:none;border-radius:5px;">
    Borrar Usuarios sin Actividad
  </button>
</form>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Email</th>
      <th>Rol</th>
      <th>Última Conexión</th> <!-- Nueva columna -->
      <th>Acciones</th>
      <th>Advertencia</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <td>{{this.first_name}} {{this.last_name}}</td>
      <td>{{this.email}}</td>
      <td>{{this.role}}</td>
     <td>
  {{#if this.last_connection}}
    {{this.last_connection}}
  {{else}}
    Nunca conectado
  {{/if}}
</td>

      <td>
        <form action="/api/users/premium/{{this.id}}" method="POST">
          <button type="submit">Cambiar Rol</button>
        </form>
        <form action="/api/users/delete/{{this.id}}" method="POST">
          <button type="submit">Eliminar Usuario</button>
        </form>
      </td>
      <td>
        {{#if this.isAdminUpgrade}}
          <p style="color:red;">Falta documentación</p>
        {{/if}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
